.button {
  appearance: none;
  cursor: pointer;
  padding: 8px;
  color: white;
  border: 1px solid white;
  border-radius: 4px;

  &[disabled] {
    background: gray;
    cursor: not-allowed;
  }
}

.button-primary {
  background: #66bf3c;
}
